*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-mode{
  width: 100dvw;
  height: 100dvh;
  background-color: #121212;
  color: white;
  overflow: hidden;
}
.light-mode{
  width: 100dvw;
  height: 100dvh;
  background-color: white;
  color: black;
  overflow: hidden;
}